* {
  box-sizing: border-box;
}

body{
	background: url("images/patternBg.png");
}

p{
	margin: 0;
}

.contact_imfo {
	width: 60%;
	height: 368px;
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	margin: 0 auto;
	font-family: "Gochi Hand", Calibri, sans-serif;
	margin-bottom: 30px;
	font-family: "Gochi Hand", Calibri, sans-serif;
}

.map {
	width: 495px;
	height: 368px;
	overflow: hidden;
}

.map img{
	width: 100%;
	height: 100%;
	flex-grow: 1;
	justify-content: center;
	align-items:flex-start;
	border: 1px solid black;
}

.basic_imfo{
	background-color: white;
	border: solid 1px #E2D6D6;
	width: 495px;
	height: 368px;
	flex-grow: 1;
	justify-content: center;
	align-items:flex-start;
	display: flex;
	flex-direction:column;
	padding: 30px;
}
.basic_imfo_text{
	width: 100%;
}

.basic_imfo h3{
	width: 200px;
	font-size: 1.5em;
}

.contact_us{
	width: 60%;
	height: 450px;
	border: solid 1px #E2D6D6;
	background-color: white;
	margin: 0 auto;
	font-family: "Gochi Hand", Calibri, sans-serif;
}

#subject {
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	font-family: "Gochi Hand", Calibri, sans-serif;
}

.information{
	width: 50%;
	margin: 0 auto;
}

.contact-form{
	width: 100%;
}
input{
	margin-bottom: 1em;
	font-family: "Gochi Hand", Calibri, sans-serif;
	font-size: 1em;
}

.input{
	background-color: #f69c9d;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: "Gochi Hand", Calibri, sans-serif;
	font-size: 16pt;
	padding:8px 24px;
	text-decoration:none;
	}
	.input:hover {
		background-color:#c96a6b;
	}
	.input:active {
		position:relative;
		top:1px;
	}

.button{
	text-align: center;
	margin: 10px;
}

.form{
	width: 100%;
}

.a{
	padding-left: 0.5em;
	width: 100%;
	height: 33px;

}

.field-message{
	width: 100%;
	height: 105px;
	padding: .5em;
	font-family: "Gochi Hand", Calibri, sans-serif;
	font-size: 1em;
}


@media screen and (max-width: 800px) {
	.contact_imfo {
		display: block;
		height: 736px;
	}
	.map {
		width: 100%;
	}
	.basic_imfo{
		width: 100%;
	}

	.information{
		width: 60%;
	}
}