/* /////////////////////
///////// IDs //////////
///////////////////// */

#floatr{
	flex-direction: row-reverse;
    position: relative;
}

/* Main website logo */
#mainLogo {
    width: 5%;
    position: absolute;
    left: 5%;
}

/* Side box with headline and ul */
#careContent {
    position: relative;
    outline: solid 3px;
    outline-color: #856968;
    background-color: #FCE8E8;
    display:none;
    padding-bottom: 0.5em;
    width: 100%;
}

#careContent h2 {
    padding-left: 1%;
    padding-top: 2%;
    font-size: 1.5em;
    font-family: "Gochi Hand", Calibri, sans-serif;
}

#careContent ul {
    font-size: 1.1em;
    list-style-image: url(assets/list.png);
}

/* /////////////////////////
///////// CLASSES //////////
///////////////////////// */

.careOrg {
    display: flex;
    justify-content: center;
	align-items: center;
}

.catImages {
    width: 400px;
}

.textCont {
    padding: 1em;
}

.item{
	padding: 1em;
}

/* //////////////////////
///////// MAIN //////////
////////////////////// */

body {
   background: url("images/patternBg.png");
}

::selection {
    background: #F69C9D;
}

::-moz-selection {
    background: #F69C9D;
}

h2 {
    font-family: "Gochi Hand", Calibri, sans-serif;
    font-size: 1.5em;
    line-height: 1;
    margin: 0.5em;
}

div.catCare{
    width: 60%;
    padding-top: 1%;
	flex-direction: column;
    justify-content: center;
	align-items: center;
}

div.float{
/*	background-color: #e2d6c8;*/
    position: relative;
	margin-top: 1em;
    margin-bottom: 1em;
	width: 100%;
	color: black;
    font-family: Calibari, sans-serif;
    font-size: 1em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    text-align: justify;
}

header {
    margin: -0.4%;
}

nav {
    display: flex;
    position:relative;
    background-color: #ababab;
    background-image: url(images/bannerHeader.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

nav>a {
    padding-left: 1em;
    padding-right: 1em;
}

nav>a:visited {
    padding-left: 1em;
    padding-right: 1em;
}

nav>a:hover {
    padding-left: 1em;
    padding-right: 1em;
}

nav>a:active {
    padding-left: 1em;
    padding-right: 1em;
}

a {
    padding: 5px;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    font-size: 1em;
    color: #333333;
    font-weight: bold;
    font-family: "Gochi Hand", Calibri, sans-serif;
}

a:visited {
    padding: 5px;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    font-size: 1em;
    color: #333333;
    font-weight: bold;
    font-family: "Gochi Hand", Calibri, sans-serif;
}

a:hover {
    padding: 5px;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    font-size: 1em;
    color: #F69C9D;
    font-weight: bold;
    font-family: "Gochi Hand", Calibri, sans-serif;
}

a:active {
    padding: 5px;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    font-size: 1em;
    color: #333333;
    font-weight: bold;
    font-family: "Gochi Hand", Calibri, sans-serif;
}

/* /////////////////////////////
///////// MEDIA QUERY //////////
///////////////////////////// */

@media screen and (max-width: 1200px) {
    #careContent {
        display: block;
    }
    
    .catImages {
        width: 100%;
        float: none;
    }
    
    div.float {
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) { 
    div.catCare {
        width: 100%;
    }
}